<%= link_to "â† Back", cars_path(@chat.car) %> /

<div id="chat_title" class="text-center mb-4">
  <div class="card border border-3 p-2">
    <h1>Ask MecAnIc about your</h1>
    <h2><%= @car.brand %> <%= @car.model %> <%= @car.year %></h2>
  </div>
</div>


<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-12 col-lg-8">


<div id="new_message">
  <div class="card card-bordered">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, placeholder: "Ask a question", required: true, label: false %>
    <%= f.button :submit, 'Submit', class: 'btn btn-flat' %>
  <% end %>
  </div>
</div>

<div id="messages">
  <% @chat.messages.order(:created_at).reverse.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% elsif message.role == "assistant" %>
  <div class="d-flex justify-content-start mb-5">
    <div class="px-3 pb-0 pt-3 mb-3">
      <%= raw(render_markdown(message.content)) %>
    </div>
  </div>
    <% end %>
<% end %>
</div>
